.field {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the value as needed */
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon i {
    font-size: 1rem; /* Adjust the font size as needed */
    color: #777; /* Adjust the color as needed */
}
